<dbgraphnav>
  <database>
    <DSN>
      <phptype>pgsql</phptype>
      <dbsyntax></dbsyntax>
      <protocol></protocol>
      <hostspec>darwin.nescent.org</hostspec>
      <database>treetapper</database>
      <username>treetapper_select</username>
      <password></password>
      <proto_opts></proto_opts>
      <option></option>
    </DSN>

    <friend_finder>
      <person>
	<query_base parentnode="$1">
	  SELECT $1 AS value,
	  'person' AS type,
	  person_first||' '||person_last AS display_name,
	  'main.php?id=$1&amp;type=person' AS callback_url
	  FROM person
	  WHERE person_id = '$1'
	</query_base>

	<query_string parentnode="$1">
	  SELECT referencetoperson_reference AS value, 
	  'reference' AS type,
	  reference_title AS display_name,
	  'main.php?id='||referencetoperson_reference||'&amp;type=reference' AS callback_url
	  FROM referencetoperson 
	  LEFT JOIN reference
	  ON referencetoperson_reference=reference_id
	  WHERE referencetoperson_person = '$1'
	</query_string>
      </person>

      <reference>
	<query_base parentnode="$1">
	  SELECT $1 AS value,
	  'reference' AS type,
	  reference_title AS display_name,
	  'main.php?id=$1&amp;type=reference' AS callback_url
	  FROM reference
	  WHERE reference_id = '$1'
	</query_base>

	<query_string parentnode="$1">
	  SELECT referencetoperson_person AS value,
	  'person' AS type,
	  person_first||' '||person_last AS display_name,
	  'main.php?id='||referencetoperson_person||'&amp;type=person' AS callback_url
	  FROM referencetoperson
	  LEFT JOIN person
	  ON referencetoperson_person=person_id
	  WHERE referencetoperson_reference = '$1'
	</query_string>
      </reference>

    </friend_finder>
  </database>

  <graphing>
    <graphviz>
      <!-- System path to graphviz dot or neato binary. Absolute path
      unless Graphviz is in the $PATH variable -->
      <binPath>/usr/local/bin/neato</binPath>
      <outputImageFormat>png</outputImageFormat>
      <!-- further extra command line arguments to graphviz -->
      <commandLineArgs>-x</commandLineArgs>
      <!-- Use 1 or 0 for these next two values. -->
      <directed>0</directed>
      <strict>1</strict>
      <name>G</name>
    </graphviz>
    <caching>
      <!-- Relative to the application root unless a full path is
      specified. Be sure that this directory is writeable by the
      webserver process. -->
      <path_to_cache>cache/</path_to_cache> 
      <!-- seconds till "simple" considers the graph too old -->
      <age_limit>30</age_limit>
      <behavior>simple</behavior>
      <limit_size></limit_size>
    </caching>
    <limiting>
      <max_tree_depth></max_tree_depth>
      <max_nodes></max_nodes>
    </limiting>

    <!-- Graphviz display options. See:
	 http://www.graphviz.org/doc/info/attrs.html
	 for more info. -->
    <display_options>
	<overlap>false</overlap>
	<splines>true</splines>
	<pack>true</pack>
    </display_options>

    <misc>
      <wordwrap>20</wordwrap>
    </misc>

  </graphing>
</dbgraphnav>
